* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f4;
}

/* sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 70px; /* Bắt đầu từ dưới header */
    left: 0;
    transition: width 0.5s ease;
    z-index: 1000;
}
.sidebar.collapsed {
    width: 0;
    overflow: hidden;
}

nav {
    flex-grow: 1;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.nav-list li {
    margin-bottom: 10px;
    margin-left: 15px;
    white-space: nowrap;
    overflow: hidden;
}
.sidebar.collapsed .nav-list, .sidebar p  {
    display: none; /* Ẩn text khi sidebar thu nhỏ */
}
.nav-list li a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 14px;
}

.nav-list li a i {
    margin-right: 10px;
}

.nav-list li a:hover {
    background-color: #f0f0f0;
}

.nav-list li a.active {
    background-color: #2f80ed;
    color: #fff;
    border-radius: 10px;
    width: 90%;
}

.sidebar hr {
    height: 1px;
    border: #E0E0E0 solid 0.6px;
}

.mt-30 {
    margin-top: 30px;
}

.section-title {
    padding: 10px 20px;
    color: #999;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
}

#content {
    display: flex;
    width: 100%;
    margin-top: 70px;
    
}

/* .main-content */
.main-content {
    flex: 1;
    transition: margin-left 0.3s ease;
    margin-left: 250px;
}
.sidebar.collapsed + .main-content {
    margin-left: 70px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #FFFFFF;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.logo {
    padding: 20px;
    text-align: center;
    width: 250px;
}

.logo img {
    width: 127px;
}

.header-bar i {
    font-size: 20px;
    cursor: pointer;
}

.main-header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap-search {
    position: relative;
}

.wrap-search i {
    position: relative;
    left: 40px;
    opacity: 0.5;
}


header input.search {
    width: 400px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    padding-left: 50px;
}

header input.search:focus {
    outline: none;
    border-color: #2f80ed;
    background-color: white;
}

.user-options {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-options .fa-bell {
    position: relative;
    font-size: 24px;
    cursor: pointer;
}

.notification-badge {
    position: relative;
}

.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ff5252;
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 11px;
}

.language-selected {
    display: flex;
    align-items: center;
}

.language-list {
    position: absolute;
    top: 80%;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 999;
}

.language-list li {
    list-style: none;
    padding: 10px;
    display: flex;
    align-items: center;
}

.language-list li img {
    margin-right: 10px;
}

.language-list li:hover {
    background-color: #5c5757;
    color: #fff;
}

.language-dropdown,
.user-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.language-dropdown {
    min-width: 160px;
}

.user-profile {
    margin-left: 20px;
    gap: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-dropdown {
    width: 20px;
    height: 20px;
    border: #333 solid 1px;
    border-radius: 50%;
}

.user-dropdown .fa-caret-down {
    position: absolute;
    top: 29px;
    right: 27px;
}

.username {
    font-size: 14px;
    font-weight: 700;
}

.user-role {
    font-size: 12px;
    font-weight: 600;
}

.language-dropdown img {
    width: 40px;
    height: 27px;
    border-radius: 5px;
    margin: 0 10px;
}

.fa-chevron-down {
    font-size: 12px;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.language-dropdown span,
.user-profile span {
    margin-right: 5px;
}

.fa-caret-down {
    font-size: 12px;
}

.products-section {
    padding: 30px 20px;
    border-radius: 10px;
}

.banner {
    position: relative;
    text-align: left;
    background-color: #2f80ed;
    color: white;
    padding: 50px 150px;
    height: 346px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    z-index: 1;
}
.banner-content p {
    font-size: 16px;
    margin-top: 10px;
}

.banner h2 {
    font-size: 37px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 10px;
}

.banner button {
    padding: 10px 20px;
    margin-top: 30px;
    background-color: #ff7f50;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 156px;
    height: 44px;
}
/* Arrow styles */
.banner-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.banner-arrow i {
    font-size: 24px;
    color: white;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}


.product-list {
    display: flex;
    gap: 20px;
}

.product-item {
    width: 360px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}
.product-image {
    position: relative;
}
.product-image .banner-arrow {
    opacity: 0.5;
}
.product-image .banner-arrow.left-arrow  {
    left: 5px;
}
.product-image .banner-arrow.right-arrow  {
    right: 5px;
}
.product-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-item p {
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
}

.product-item span {
    display: block;
    margin-bottom: 15px;
}

.product-item button {
    padding: 10px 15px;
    background-color: #2f80ed;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* responsive */
/* Media Queries cho màn hình nhỏ hơn 768px (Tablet và Mobile) */
@media (max-width: 768px) {
    /* Ẩn Sidebar cho màn hình nhỏ */
    .sidebar {
        width: 70px;
    }

    /* Điều chỉnh Main Content để chiếm toàn bộ chiều rộng */
    .main-content {
        margin-left: 70px;
    }

    /* Header input search trở nên nhỏ hơn */
    header input.search {
        width: 250px;
    }

    /* Các phần tử trong Header căn chỉnh lại */
    .user-options {
        gap: 10px;
    }

    .logo {
        width: 70px;
    }

    .logo img {
        width: 50px;
    }

    .language-list {
        width: 150px;
    }

    .product-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .product-item {
        width: 100%;
        text-align: center;
    }
}

/* Media Queries cho màn hình nhỏ hơn 576px (Mobile nhỏ) */
@media (max-width: 576px) {
    /* Search input nhỏ hơn và dễ quản lý trên mobile */
    header input.search {
        width: 200px;
        padding: 8px 10px;
    }

    .wrap-search i {
        left: 30px;
    }

    /* Các thành phần của Banner được căn chỉnh dọc */
    .banner-content {
        text-align: center;
    }

    .banner-content h2 {
        font-size: 20px;
    }

    /* Sidebar sẽ ẩn hoàn toàn và hiển thị khi nhấn vào menu */
    .sidebar {
        display: none;
    }

    .header-bar i {
        display: block;
    }

    .sidebar.open {
        display: flex;
        position: fixed;
        width: 70%;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: white;
        z-index: 1000;
    }

    /* Định dạng lại sản phẩm trên mobile */
    .product-item {
        margin: 0 auto;
    }
}
